<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgkj.mapper.SrmBarStorHeadMapper">

    <select id="listWarehouseAndBin" resultType="com.mgkj.vo.WarehouseAndBinVO">
        SELECT W.warehouse_no warehouseNo ,warehouse_name warehouseName,storage_spaces_no binCode,storage_spaces_name binName
        FROM srm_bar_stor_head W
        LEFT JOIN srm_bar_stor_body B ON W.warehouse_no = B.warehouse_no
        <where>
            <if test="warehouseNo != null and warehouseNo != ''">
                AND W.warehouse_no = #{warehouseNo}
            </if>
            <if test="warehouseName != null and warehouseName != ''">
                AND W.warehouse_name LIKE {warehouseName}+'%'
            </if>
            <if test="binCode != null and binCode != ''">
                AND B.storage_spaces_no = #{binCode}
            </if>
            <if test="binName != null and binName != ''">
                AND B.storage_spaces_name LIKE #{binName}+'%'
            </if>
        </where>
    </select>
</mapper>
