<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.WmsPoArrivalInspectionDMapper">

    <resultMap id="BaseResultMap" type="com.mgkj.entity.WmsPoArrivalInspectionD">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="sequence" column="sequence" jdbcType="INTEGER"/>
            <result property="inspectionItemCode" column="inspectionItemCode" jdbcType="VARCHAR"/>
            <result property="inspectionItemName" column="inspectionItemName" jdbcType="VARCHAR"/>
            <result property="inspectionQty" column="inspectionQty" jdbcType="DECIMAL"/>
            <result property="inspectionAc" column="inspectionAc" jdbcType="DECIMAL"/>
            <result property="inspectionRe" column="inspectionRe" jdbcType="DECIMAL"/>
            <result property="defectiveQty" column="defectiveQty" jdbcType="DECIMAL"/>
            <result property="inspectionUuid" column="inspectionUuid" jdbcType="OTHER"/>
            <result property="checkDocNo" column="checkDocNo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sequence,inspectionItemCode,
        inspectionItemName,inspectionQty,inspectionAc,
        inspectionRe,defectiveQty,inspectionUuid,
        checkDocNo
    </sql>
</mapper>
